@import "tailwindcss";

@theme {
  --font-poppins: "Poppins";
  --font-lexend: "Lexend";
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased font-lexend;
  }
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
}
